<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<!-- mybatis 全局配置 -->
<configuration>

    <!-- &lt;!&ndash; 1. 读取外部配置文件 &ndash;&gt; -->
    <!-- <properties resource="jdbc.properties"/> -->

    <!-- &lt;!&ndash; 2. 别名扫描路径 &ndash;&gt; -->
    <!-- <typeAliases> -->
    <!--     <package name="cn.tedu.domain"/> -->
    <!-- </typeAliases> -->

    <!-- <environments default="mysql"> -->
    <!--     <environment id="mysql"> -->
    <!--         <transactionManager type="JDBC"/> -->
    <!--         <dataSource type="POOLED"> -->
    <!--             <property name="driver" value="${jdbc.driver}"/> -->
    <!--             <property name="url" value="${jdbc.url}"/> -->
    <!--             <property name="username" value="${jdbc.username}"/> -->
    <!--             <property name="password" value="${jdbc.password}"/> -->
    <!--         </dataSource> -->
    <!--     </environment> -->
    <!-- </environments> -->

    <!-- &lt;!&ndash; 映射文件扫描包路径 &ndash;&gt; -->
    <!-- <mappers> -->
    <!--     <package name="cn.tedu.dao"/> -->
    <!-- </mappers> -->


</configuration>