
body{
    justify-content: center;
    align-items: center;
    width: 100%;
    color: white;
    min-height: 100vh;
    background-image: url("../imgs/1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}


